body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

video {
  width: 280px;
  border: 2px solid lime;
  margin-bottom: 10px;
}

canvas {
  background: #000;
  border: 3px solid lime;
  display: block;
  margin: 0 auto;
}

#status {
  color: yellow;
  font-weight: bold;
}
